services:
  postgres:
    image: postgres:14
    container_name: tickethub-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - tickethub_data:/var/lib/postgresql/data

volumes:
  tickethub_data:
